# Application Config
PORT=3000
NODE_ENV=development

# Database Config (PostgreSQL)
# For local dev without docker, change host to localhost. Within docker network, host is the service name 'postgres'.
DATABASE_URL="postgresql://pix_user:pix_password@localhost:5432/pix_db?schema=public"

# Redis Config
REDIS_URL="redis://localhost:6379"

# Security (JWT)
JWT_SECRET="development_jwt_secret_please_change_in_production_398a10bfa49102"
JWT_EXPIRES_IN="15m"
REFRESH_TOKEN_SECRET="development_refresh_secret_please_change_in_production_892c901bc0ef82"
REFRESH_TOKEN_EXPIRES_IN="7d"

# CORS
CORS_ORIGIN="*"
